venv/
__pycache__/
*.pyc
.env
models/*
!models/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/eda/*
!data/eda/.gitkeep
data/chroma_store/*
!data/processed/products_scored.csv
!data/processed/interactions_clean.csv
.DS_Store
